<ion-header>
  <ion-toolbar>
   <ion-buttons slot="start">
    <ion-buttons slot="start" (click)="dismiss()">
      <ion-icon name="chevron-back-outline" class="xdsffdd"></ion-icon>
    </ion-buttons>
  </ion-buttons>
    <ion-title>Informations</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-grid class="card-info">
  <ion-row>
    <ion-col>
      <ion-label>
        Nom
      </ion-label>
    </ion-col>
    <ion-col>
      {{data.first}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        Prénom
      </ion-label>
    </ion-col>
    <ion-col>
      {{data.last}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        Pays
      </ion-label>
    </ion-col>
    <ion-col>
      {{data.country}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        société
      </ion-label>
    </ion-col>
    <ion-col>
      {{data.company}}
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-label>
        Email
      </ion-label>
    </ion-col>
    <ion-col>
      {{data.email}}
    </ion-col>
  </ion-row>

</ion-grid>


</ion-content>