<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-searchbar mode="ios" (ionChange)="search($event)" showCancelButton="always"></ion-searchbar>
 <ion-list>
  <ion-item *ngFor="let person of listPerson">
    <ion-label (click)="infoPerson(person)">{{person.first}} {{person.last}}</ion-label>
  </ion-item>

</ion-list>
</ion-content>
